---
 const personalImageAlt = "Roddy Leiva"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Roddy Enoc Leiva Vargas pero mis amigos me llaman Toti. Empecé en la
      programación no como tal sabia que era la programacion durante el periodo de pandemia de 2020 veia Tik Toks y me ha aparecian mucho videos de ciberseguridad y ahi fue donde di mis primeras lineas de codigo desarrollando una pequeñaapk para Android en el cual tenia acceso a la camara no funciono, pero ahi fue mi inicio, tenía 16 años. Actualmente estoy <strong
      >Estoy trabajando en una empresa de contabilidad.</strong
      >.
    </p>

    <p>
      Mi hitos Relevantes y No tan Relevantes<strong
        > Medalla 2 lugar en concurso interescolar sobre deletro y Medalla de 1 lugar en concurso interescolar sobre natacion.</strong
      >.
    </p>

    <p>
      Actualmente,<strong
        >Estoy en proceso de mejorar mi ingles aprender Ruso y montar mi propia marca de ropa <em class="italic">RELV</em> EN GUATEMALA</strong
      >. Mi objetivo principal para el 2024 es mejorar el acceso a la tecnologia y mejorar la comunacion entre comunidades mayas en Guatemala. Con una aplicacion de traduccion a estos idiomas ya que se cuenta con muy poco documentacion de estos idiomas en digital.
    </p>
  </div>

  <img width="200" height="200" src="https://pbs.twimg.com/media/GE4QqTIXkAAtY81?format=jpg&name=900x900" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>

