---
import EducationItem from "./EducationItem.astro"
const EDUCATION = [
    {   
        title :"Ingenieria en Sistemas",
        date : "Actualmente...",
        location: "Universidad Mariano Galvez de Guatemala",
        description : "Cursando el primer semestre de la carrera de Ingenieria en Sistemas"

    },
    {
        title :"Practicas",
        date : "Septiembre 2023",
        location: "Palacio legislativo",
        description : "Cursando las practicas de bachillerato"
    },
    {
        title :"Bachillerato en Computación con orientación comercial",
        date : "Enero 2022 - Octubre 2023",
        location: "Liceo Clasico en Computación",
        description : "Cursando el bachillerato"
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">

    {
        EDUCATION.map((education) => (
            <li class="mb-10 ms-4">
                <EducationItem {...education} />
            </li>
        ))
    }
</ol>
