---
import EducationItem from "./EducationItem.astro"
const EDUCATION = [
    {   
        title :"Ingenieria en Sistemas",
        date : "Actualmente...",
        location: "Universidad Mariano Galvez de Guatemala",
        description : "Cursando el primer semestre de la carrera de Ingenieria en Sistemas."

    },
    {
        title :"Practicas Certificado",
        date : "Septiembre 2023",
        location: "Palacio legislativo",
        description : "Realize tareas en todas las areas relacionada a la informatica y Recursos humanos, me desempeñe en el area de gestion de personal llevanado planilla de horas extraordinarias, realize mantenimiento y actualización de equipo de computo para el area de informatica, y realice actualizacion de base de datos del personal en el area de base de datos."
    },
    {
        title :"Bachillerato en Computación con orientación comercial",
        date : "Enero 2022 - Octubre 2023",
        location: "Liceo Clasico en Computación",
        description : "Curse durante 2 años la carrera de Bachillerato en Computación con orientacion comercial en el horario de fin de semana en el plan sabado mientras en la semana estudiaba de manera autodidacta la programación."
    },
    {
        title : "Tecnico Operador",
        date : "Enero 2019 - Octubre 2019",
        location: "Academia de Mecanografia Cañadas del valle",
        description : "Realice tareas de mantenimiento y actualización de equipos de computo, y desarrolle un buen manejo de todo el paquete de office."   
    },
]
---

<ol class="relative border-s border-gray-200 ml-3">

    {
        EDUCATION.map((education) => (
            <li class="mb-10 ms-4">
                <EducationItem {...education} />
            </li>
        ))
    }
</ol>
