---
import ExperienceItem from "./ExperinceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Auxiliar Contable",
    description:
      "Ayudo en las tareas de de ingreso de depositos, facturacion, facturacion electronica FEL, facturacion de IVA, ISR E IGSS entre otras tareas ",
  },
  {
    date: "Septiembre 2023",
    title: "Practicas de Bachillerato  − Palacio legislativo Ciudad de Guatemala",
    description:
      "Realize tareas en todas las areas relacionada a la informatica y Recursos humanos, me desempeñe en el area de gestion de personal llevanado planilla de horas extraordinarias, realize mantenimiento y actualización de equipo de computo para el area de informatica, y realice actualizacion de base de datos del personal en el area de base de datos",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>